html, body {
    font-family: sans-serif;
    background-color: grey;
    padding: 0;
    margin: 0;
}
.logo {
    aspect-ratio: 1 / 1;
    width: clamp(150px, 30%, 250px);
    background-color: #A20025;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    font-size: clamp(30px, 6vw, 40px);
    margin-bottom: 20px;
    border: 1px solid #6F0000;
    user-select: none;
    box-shadow: 1px 1px 5px grey;
    &:hover {
        border-color: white;
    }
    &:active {
        background-color: #FF9293;
    }
}
.home {
    border: 1px solid #6F0000;
    background-color: #A20025;
    font-size: clamp(13px, 4vw, 40px);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    aspect-ratio: 1 / 1;
    display: inline-block;
    &:hover {
        border-color: white;
    }
    &:active {
        background-color: #FF9292;
    }
}
.toolbar {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 1px 10px grey;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.toolbar section {
    display: grid;
    place-items: center;
    width: 100%;    
    text-align: center;
    font-weight: bold;
    font-size: clamp(20px, 6vw, 40px);
}
.toolbar-3 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    box-shadow: 1px 1px 10px grey;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.toolbar-3 section {
    display: grid;
    place-items: center;
    width: 100%;    
    text-align: center;
    font-weight: bold;
    font-size: clamp(20px, 6vw, 40px);
}
.toolbar div {
    display: grid;
    grid-template-columns: 65% 30%;
}
.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.searchBar{
    margin-right: auto;
    margin-left:auto;
    display: block;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.searchBar input {
    box-sizing: border-box;
    height: 100%;
    vertical-align: top;
    width: 80%;
    font-size: clamp(20px, 5vw, 40px);
    align-self: center;
}
.searchBar img {
    aspect-ratio: 1 / 1;
    width: clamp(25px, 5vw, 60px); 
}
.report-flexbox {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.report-item {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    border: 2px solid black;
    border-radius: 2px;
    aspect-ratio: 3 / 1;
    margin-bottom: 1vh;
    padding: 5px;
}
.report-item button {
    width: 75%;
    justify-self: end;
    border: 1px solid #6F0000;
    background-color: #A20025;
    color: white;
    border-radius: 10px;
    font-size: clamp(20px, 4vw, 30px);
    font-weight: bold;
    &:hover {
        border-color: white;
    }
    &:active {
        background-color: #FF9292;
    }
}
.report-item h3 {
    text-align: right;
}
.report-item > * {
    margin: 0;
    height: 100%;
}
.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.button {
    border: 1px solid #6F0000;
    box-sizing: border-box;
    background-color: #A20025;
    color: white;
    border-radius: 10px;
    font-size: clamp(20px, 4vw, 30px);
    font-weight: bold;
    min-height: 6vh;
    width: clamp(200px, 50vw, 300px); 
    padding: 7px;
    box-shadow: 1px 1px 5px grey;
    &:hover {
        border-color: white;
    }
    &:active {
        background-color: #FF9292;
    }
}
.container {
    width: fit-content;
    display: block;
    justify-content: left;
}
.status-bar {
    display: block;
    text-align: center;
}
.status-bar > * {
    font-size: clamp(20px, 5vw, 30px);
    display: inline-block;
}
.status-light {
    width: clamp(15px, 5vw, 40px);
    margin-right: 2vh;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: yellow;
    box-shadow: 1px 1px 10px grey;
}
a {
    font-size: 13px;
}
input {
    aspect-ratio: 1 / .12;
    width: clamp(200px, 50vw, 300px); 
    font-size: clamp(15px, 4vw, 20px);
}
.wrapper-main {
    width: 800px;
    background-color: white;
    min-height: 100vh;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 800px) {
    .wrapper-main {
        min-width:300px;
        width: 100%;
        margin: 0;
    }
}