html, body {
    font-family: sans-serif;
    background-color: grey;
    padding: 0;
    margin: 0;
}
.logo {
    aspect-ratio: 1 / 1;
    width: clamp(100px, 30%, 200px);
    background-color: #A20025;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    font-size: clamp(20px, 6vw, 40px);
    margin-bottom: 20px;
    border: 1px solid #6F0000;
    user-select: none;
    box-shadow: 1px 1px 5px grey;
    &:hover {
        border-color: white;
    }
    &:active {
        background-color: #FF9292;
    }
}
.home {
    border: 1px solid #6F0000;
    background-color: #A20025;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    aspect-ratio: 1 / 1;
    display: inline-block;
    &:hover {
        border-color: white;
    }
    &:active {
        background-color: #FF9292;
    }
}
.toolbar {
    display: flex;
    box-shadow: 1px 1px 10px grey;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.toolbar section {
    display: grid;
    place-items: center;
    width: 100%;    
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.button {
    border: 1px solid #6F0000;
    background-color: #A20025;
    color: white;
    border-radius: 10px;
    font-size: clamp(20px, 4vw, 30px);
    font-weight: bold;
    padding: 7px;
    width: clamp(200px, 40%, 40%);
    box-shadow: 1px 1px 5px grey;
    &:hover {
        border-color: white;
    }
    &:active {
        background-color: #FF9292;
    }
}
.container {
    background-color: red;
    width: 75%;
    display: block;
    justify-content: left;
}
a {
    font-size: 13px;
}
input {
    width: 190px;
    height: 1.8em;
}
.wrapper-main {
    width: 800px;
    background-color: white;
    min-height: 100vh;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 800px) {
    .wrapper-main {
        width: 100%;
        margin: 0;
    }
}